<p id="notice"><%= notice %></p>

<p>
  <strong>Teacher:</strong>
  <%= @group.teacher %>
</p>

<p>
  <strong>Matter:</strong>
  <%= @group.matter %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @group.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @group.end_time %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
